@font-face {
	font-family: 'Gambarino';
	src: url('gambarino.otf') format('opentype');
}

:root {

/* TYPE */

	--primary-font: Gambarino;
	--secondary-font: baskerville;

/* COLOR */

	--primary-color: white;
	--secondary-color: black;
	background-color: #121212;
}


/* STYLING */

body {
	height: 100vh;
	cursor: url('../assets/cursor.cur'), auto;
}

header {
	padding-block: 3rem;
}

nav li {
	font-family: var(--primary-font);
	display: flex;
	justify-content: space-between;
	color: white;
	margin-block: 2rem;

	font-size: 1.2rem;
	padding-inline: 3rem;
	margin: auto;
	:hover {
		color: grey;
		cursor: pointer;
	}
	
	:nth-child(1) {
		justify-content: left;
	}

	:nth-child(2) {
		justify-content: center;
	}

	:nth-child(3) {
		justify-content: right;
	}
}


#project-title {
	height: 100vh;
}

.introduction {
	height: 100vh;
	align-content: center;
}

.block-container {
	width: 100vw;
	/* filter: saturate(0); */
}


img {
	width: 100vw;
	object-fit: fill
}

.image-block {
	/* padding: 2rem; */
	display: flex;
	flex-direction: row;
}

/* MODAL STYLING */

dialog {
	align-items: center;
	max-width: 500px;
	max-height: 80vh;
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	transform: translate(5%, 5%);
	width: 90vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.2);
	border: 1.5px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(75px) brightness(300%);
	overflow: hidden;
	border-radius: 0.15rem;
	overflow-y: auto;
}

.modal-title {
	color: white;
	font-family: var(--primary-font);
	font-size: 3rem;
}

.modal-media {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	img {
		margin: auto;
		max-height: 250px;
		width: auto;
		display: block;
	}
}

.modal-text {
	color: var(--secondary-color);
	font-family: var(--primary-font);
	font-size: 1.5rem;
	line-height: 1.8rem;
}

.block-description {
	color: var(--primary-color);
	font-family: var(--secondary-font);
	letter-spacing: 0.03rem;
	font-size: 1rem;
	line-height: 1.2rem;
	max-width: 45ch;
}

.close {
	font-size: 1rem;
	color: var(--primary-color);
}

/* MODAL STYLING ENDS HERE */

.block-container:hover {
	cursor: pointer;
}

h1 {
	font-size: 40vw;
	font-family: var(--primary-font);
	color: var(--primary-color);
	text-align: center;
	line-height: 35%;
	padding-top: 14rem;
	position: absolute;
	width: 100%;
	left: 0;
}

h1::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle 50px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	pointer-events: none;
	mix-blend-mode: difference;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.heading_styling {
	font-size: 12vw;
}

h2 {
	font-size: 2rem;
	color: var(--primary-color);
}

/* BLOCK TITLE STYLING */

h3 {
	color: white;
	font-size: 5rem;
	white-space: nowrap;
	overflow: hidden;
	position: sticky;
	bottom: 10rem;
	mix-blend-mode: difference;
	font-family: var(--primary-font);
}

.wrapper{
	position: relative;
}

.container-title{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
}

blockquote {
	color: white;
	font-family: var(--primary-font);
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: 3rem;
}

.introduction p {
	max-width: 35ch;
}

#channel-description p {
	font-family: var(--primary-font);
	font-size: 1.8rem;
	line-height: 2.5rem;
	display: flex;
	margin: auto;
	padding-inline: 2rem;
	align-content: center;
}

li {
	list-style-type: none;
}

p {
	color: var(--primary-color);
}



.block-text-styling {
	font-family: var(--primary-font);
	text-align: center;
	opacity: 10%;
	font-size: 2rem;
	line-height: 2rem;
	/* max-width: 30ch; */
	padding-inline: 3rem;
	margin: auto;
	padding-block: 5rem;
}


.words {
	padding: 2rem;
}

footer {
	li {

		a {
			font-family: var(--primary-font);
			color: var(--primary-color);
			font-size: 1.2rem;
			line-height: 2rem;
		}

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding-block: 3rem;
		
		:hover {
			color: gray;
		}
	}
}

button {
	:hover {
		cursor: pointer;
	}
}

a {
	:hover {
		cursor: pointer;
	}
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
}


.hide {
	display: none;
}



/* LARGE DEVICE */
@media (min-width: 768px) {

	nav li {

		font-size: 1.8rem;
		padding-inline: 4rem;
		margin: auto;
		max-width: 800px;
		:hover {
			color: grey;
			cursor: pointer;
		}
		
		:nth-child(1) {
			justify-content: left;
		}
	
		:nth-child(2) {
			justify-content: center;
		}
	
		:nth-child(3) {
			justify-content: right;
		}
	}

	#channel-description p {
		font-size: 3rem;
		line-height: 4rem;
		padding-inline: 3rem;
	}

	/* MASKING TRIAL */

/* Blurred Background Text */
.blurred {
	filter: blur(1rem);
	color: #313131;
}

/* Sharp Text (Background) */
.sharp {
	filter: blur(0);
	mask: url(#mask);
	-webkit-mask: url(#mask);
}

/* MASK (Foreground) */
.mask-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

h3 {
	font-size: 10rem;
}

/* MODAL */

dialog {
	align-items: center;
	max-width: 800px;
	max-height: 80vh;
	overflow-y: auto;
	padding: 50px;
	justify-content: space-between;
	position: fixed;
	transform: translate(5%, 5%);
	width: 90vw;
	height: 100vh;
	overflow: hidden;
	border-radius: 0.15rem;
}

.modal-title {
	color: white;
	font-family: var(--primary-font);
	font-size: 4rem;
}

.modal-media {
	display: flex;
	flex-direction: row;
	gap: 3rem;

	img {
		margin: auto;
		max-height: 500px;
		width: auto;
		display: block;
	}
}

.modal-text {
	color: var(--secondary-color);
	font-family: var(--primary-font);
	font-size: 1.5rem;
	line-height: 1.8rem;
	letter-spacing: 0.02rem;
	max-width: 32ch;
	
}

.block-description {
	color: var(--primary-color);
	font-family: var(--secondary-font);
	letter-spacing: 0.04rem;
	font-size: 1.2rem;
	line-height: 1.5rem;
	max-width: 45ch;
}

.desc-subtext {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	/* modal styling ends here */

.block-text-styling {
	font-size: 4rem;
	line-height: 4rem;
	padding-inline: 3rem;
	max-width: 30ch;
}


	footer {
		li {
	
			a {
				font-family: var(--primary-font);
				color: var(--primary-color);
				font-size: 1.2rem;
				line-height: 2.4rem;
			}
	
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-inline: 3rem;
			max-width: 800px;
			margin: auto;
		}
	}

}




/* 1080p */
@media (min-width: 1080px) {

	nav li {

		font-size: 2rem;
		padding-inline: 4rem;
		margin: auto;
		max-width: 1200px;
		:hover {
			color: grey;
			cursor: pointer;
		}
		
		:nth-child(1) {
			justify-content: left;
		}
	
		:nth-child(2) {
			justify-content: center;
		}
	
		:nth-child(3) {
			justify-content: right;
		}
	}

	#channel-description p {
		font-size: 4rem;
		line-height: 4.5rem;
		padding-inline: 3rem;
		max-width: 1200px;
		
	}

	h3 {
		font-size: 15rem;
	}

/* MODAL */

dialog {
	align-items: center;
	max-width: 1200px;
	max-height: 80vh;
	overflow-y: auto;
	padding-top: 1rem;
	justify-content: space-between;
	position: fixed;
	transform: translate(5%, 5%);
	width: 90vw;
	height: 100vh;
	overflow: hidden;
	border-radius: 0.15rem;
}

.modal-title {
	color: white;
	font-family: var(--primary-font);
	font-size: 5rem;
}

.modal-media {
	display: flex;
	flex-direction: row;
	gap: 3rem;

	img {
		margin: auto;
		max-height: 500px;
		width: auto;
		display: block;
	}
}

.modal-text {
	color: var(--secondary-color);
	font-family: var(--primary-font);
	font-size: 1.8rem;
	line-height: 2rem;
}

.block-description {
	color: var(--primary-color);
	font-family: var(--secondary-font);
	letter-spacing: 0.04rem;
	font-size: 1.2rem;
	line-height: 1.5rem;
	max-width: 45ch;
}

	/* modal styling ends here */


	.block-text-styling {
		font-size: 6rem;
		line-height: 6rem;
		padding-inline: 3rem;
		max-width: 30ch;
	}

	footer {
		li {
	
			a {
				font-family: var(--primary-font);
				color: var(--primary-color);
				font-size: 1.8rem;
				line-height: 2.4rem;
			}
	
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-inline: 3rem;
			max-width: 1200px;
			margin: auto;
		}
	}

}
