:root {

/* TYPE */

	font-family: "bricolage grotesque";
	--secondary-typeface: 'gladiator';

/* COLOR */

	--primary-color: white;
	--secondary-color: blue;
	background-color: #121212;
	font-family: baskerville;

}

/* STYLING */

header {

}

nav {
	display: flex;
	flex-direction: row;
}

ul {

}

.navigation_links {
	display: flex;
	flex-direction: row;
}

h1 {
	font-size: 8rem;
	color: var(--primary-color);
	text-align: center;
	line-height: 2rem;
	padding-block: 4rem;
	filter: blur(0.3rem);
}

h2 {
	color: var(--primary-color);
}

p {
	color: var(--primary-color);
}

.heading_styling {
	font-size: 2rem;
}

.introduction p {
	max-width: 35ch;
}

.words {
	padding: 2rem;
}