@font-face {
	font-family: 'Gambarino';
	src: url('gambarino.otf') format('opentype');
}

:root {

/* TYPE */

	--primary-font: Gambarino;

/* COLOR */

	--primary-color: white;
	--secondary-color: blue;
	background-color: #121212;
	font-family: baskerville;
}


/* STYLING */

body {
	height: 100vh;
	cursor: url('../assets/cursor.png'), auto;
}

nav li {
	font-family: var(--primary-font);
	display: flex;
	justify-content: space-between;
	color: white;
	margin-block: 2rem;
}

nav li :nth-child(1) {
	justify-content: left;
}

nav li :nth-child(2) {
	justify-content: center;
}

nav li :nth-child(3) {
	justify-content: right;
}

.introduction {
	height: 100vh;
	align-content: center;
}


.block-container {
	width: 100vw;
	filter: saturate(0);
}


img {
	width: 100vw;
	object-fit: fill
}

.block-container:hover {
	filter: none;
	cursor: pointer;
}

h1 {
	font-size: 18rem;
	font-family: var(--primary-font);
	color: var(--primary-color);
	text-align: center;
	line-height: 2rem;
	padding-block: 4rem;
	filter: blur(0.3rem);
}

h2 {
	font-size: 2rem;
	color: var(--primary-color);
}

blockquote {
	color: white;
	font-family: var(--primary-font);
	display: flex;
	justify-content: space-around;
	text-align: center;
}

p {
	color: var(--primary-color);
}

picture {
	width: 100vw;
	height: 100vh;
	object-fit: fill;
}

.heading_styling {
	font-size: 2rem;
}

.introduction p {
	max-width: 35ch;
}

.words {
	padding: 2rem;
}

/* TABLET */
@media (min-width: 800px) {

}

/* 1080p */
/* @media (min-width: 1080px) {

} */

/* 2K */
/* @media (min-width: 1440px) {

} */

/* 4K */
/* @media (min-width: 2160px) {

} */